# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Dependencies
node_modules
dist
dist-ssr
*.local

# Environment Variables
.env
.env.*
!.env.example
.vercel
.env*.local
